@import 'colors.scss';

.icon {
    z-index: 1;
    position: absolute;
    font-size: 2rem;
    color: $main;
    top: -11px;
    right: -14px;

    .overlay {
        z-index: -1;
        position: absolute;
        color: $black;
        left: 0;
    }

    &:hover,
    &:focus {
        cursor: pointer;

        .count {
            visibility: hidden;
        }
    }

    .count {
        position: relative;
        margin-left: -1rem;
        right: -0.5rem;
        bottom: -0.4rem;
        color: $white;
        font-size: 1rem;
        font-weight: 900;
        user-select: none;
    }
}
