<div class="default-ltr-cache-1nqqplm e13sg9vu1" data-uia="nmhp-card-hero+background">
    <img
        alt=""
        aria-hidden="true"
        data-uia="nmhp-card-hero+background+image"
        src="./Netflix Ukraine - Watch TV Shows Online, Watch Movies Online_files/UA-en-20240429-popsignuptwoweeks-perspective_alpha_website_small.jpg"
        srcset="
            https://assets.nflxext.com/ffe/siteui/vlv3/4d7bb476-6d8b-4c49-a8c3-7739fddd135c/fc1ac240-10e8-42f8-ad47-b7209d6e03c4/UA-en-20240429-popsignuptwoweeks-perspective_alpha_website_small.jpg  1000w,
            https://assets.nflxext.com/ffe/siteui/vlv3/4d7bb476-6d8b-4c49-a8c3-7739fddd135c/fc1ac240-10e8-42f8-ad47-b7209d6e03c4/UA-en-20240429-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w,
            https://assets.nflxext.com/ffe/siteui/vlv3/4d7bb476-6d8b-4c49-a8c3-7739fddd135c/fc1ac240-10e8-42f8-ad47-b7209d6e03c4/UA-en-20240429-popsignuptwoweeks-perspective_alpha_website_large.jpg  1800w
        "
        class="default-ltr-cache-1jxs5rh e13sg9vu0"
    />
    <div
        class="default-ltr-cache-1y1tnl9 egicmjq0"
        style="
            background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.8) 0,
                rgba(0, 0, 0, 0) 60%,
                rgba(0, 0, 0, 0.8) 100%
            );
        "
        data-uia="nmhp-card-hero+gradient"
    ></div>
</div>


<div class="page-container">
  <section class="hero-section"></section>
</div>
