<div class="page-container">
    <section class="hero-section">
        <img
            alt="hero-image"
            aria-hidden="true"
            fetchpriority="high"
            src="images/hero-background.webp"
            class="hero-image" />
        <div class="overlay"></div>

        <div class="header-container" [formGroup]="searchForm">
            <h1 class="title">
                {{ store.showFavourites() ? 'Here are your favourites' : 'Find your perfect evening movie' }}
            </h1>

            <div class="search-container">
                <input class="input" type="text" formControlName="search" placeholder="Start typing the title" />
            </div>
        </div>
    </section>

    <div class="divider"></div>

    <div class="tiles-container">
        @defer (when store.titles().length; prefetch when !store.isLoading()) {
            @for (title of store.filteredTitlesBySearchQuery(); track title.id) {
                <app-title-card [card]="title"></app-title-card>
            }
        } @loading {
            <app-loading-indicator></app-loading-indicator>
        } @placeholder {
            <span class="no-content">
                {{ store.searchedText().length ? 'No titles found by your search query' : 'No titles found' }}
            </span>
        }
    </div>

    <button class="circle-button" appScrollTop><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
</div>
